#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }
  
@media (max-width: 768px) {
    #items-container {
      gap: 20px; /* Adjust gap for smaller screens */
    }
}
  

.item-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid rgb(17, 15, 15);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure equal width for responsive cards */
}

.image-container {
  flex-grow: 1;
  text-align: center;
  
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.item-row {
  display: flexbox;
  padding: 10px;
}
