<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <a href="#header" class="scrollto footer-logo">
                        <img src="{{ url_for('static', path='assets/images/hero-logo.png') }}">
                        <h3>{{ rohan_title }} Online</h3>
                        <p>Embel embel ntah apalah itu</p>
                    </a>
                </div>
            </div>
            
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>{{ rohan_title }}</span></strong> All RIght Reserved
            </div>
            <div class="credits">
                Design by <a href="#" target="=_blank">TemplateMo</a> & Modified by <a href="#">{{ rohan_title }}</a>
            </div>
        </div>
    </div>
</footer>