<div class="col-12 col-md-6">
    <div class="card shadow mx-3" style="width: 320px; border-radius: 15px;">
        <div clas="d-flex justify-content-between">
            <div class="text-center" style="background-color: transparent; border-radius: 15px;">
                <img id="image-item-show" src="{{ url_for('static', path='assets/images/mall-items/5122809.jpg') }}" style="width: 100%; max-width: 120px;">
            </div>
            <div class="card-footer border-top border-gray-300 p-4">
                <a href="#" class="h5" id="item_name">Item Name</a>
                <h3 class="h6 fw-light text-gray mt-2" id="item_description">Keterangan</h3>
                <div class="d-flex mt-3">
                    <span class="star fas fa-star text-warning me-1"></span>
                    <span class="bagde bg-primary ms-2">4.4</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <span class="h5 mb-0 text-grey" id="item_price">Harga</span>
                    <a class="btn btn-xs btn-tertiary">
                        <span class="fas fa-cart-plus me-2">Add to Cart</span>
                    </a>
                </div>
            </div>
        </div>      
    </div>
</div>