<div class="container">
    <div class="section-title" data-aos="fade-up">
        <h2>Ranking</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                <h4 class="text-center">Ranking Character</h4>
                <!-- Table of Character based on PVP Kill / Level / Total Online hours-->
            </div>
            <div class="table-responsive" data-aos="fade-up">
                <table class="table table-bordered">
                    <thead class="bg-light text-center" style="position: sticky;">
                        <tr>
                            <th>No</th>
                            <th>Nickname</th>
                            <th>Class</th>
                            <th>Level</th>
                            <th>Guild</th>
                            <th>PK Count</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-lg-6 order-2 order-lg-2">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                <h4 class="text-center">Guild Ranking</h4>
                <!-- Table of Character based on PVP Kill / Level / Total Online hours-->
            </div>
            <div class="table-responsive" data-aos="fade-up">
                <table class="table table-bordered">
                    <thead class="bg-light text-center" style="position: sticky;">
                        <tr>
                            <th>No</th>
                            <th>Guild</th>
                            <th>Members</th>
                            <th>TBS Win</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>