<script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='framework/aos/aos.js') }}"></script>
<script src="{{ url_for('static', path='framework/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', path='framework/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', path='framework/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', path='framework/swiper/swiper-bundle.min.js') }}"></script>

<script src="{{ url_for('static', path='js/main.js') }}"></script>